.cajaC1{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 100px;
}
.cajaC1 img{
    width: 450px;
    height: 380px;
}
.checks{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.col-4 img {
    width: 110%;
    height: 140%;
}