.headerExtreme {
    margin-top: 30px;
    width: 100vw;
    height: 300px;
}
.col-4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 68px;

}

.line {
    margin-top: 30px;
    width: 80%;
    height: 0.1%;
}


.sExtreme {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
}

.cExtreme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn.btn-primary {
    margin-left: 180px;
}

.eBox {
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    border-color: black;
    margin-top: 50px;
    margin-bottom: 300px;
}
