.headerExtreme {
    margin-top: 30px;
    width: 100vw;
    height: 300px;
}
.row{
    width: 2000px;
    margin-right: 150px;
}
.col-4 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}


.line {
    margin-top: 30px;
    width: 80%;
    height: 0.3%;
}


.sExtreme {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
}

.cExtreme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Loq {
    margin-left: 180px;
    background-color: brown;
    border-color: brown;
    color: white;
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    box-shadow: 100px;
}

.eBox {
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 300px;
}

