.filosofiaPic {
    width: 350px;
    height: 150px;
    margin-left: 20px;
    margin-top: 20%;
    border-radius: 30px;
}

.filosofiaF {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
}