.filosofiaPic {
    width: 650px;
    height: 850px;
    margin-left: 20px;
    margin-top: 12%;
    border-radius: 30px;


}

.filosofiaF {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
}