.headerHook {
    margin-top: 30px;
    width: 100vw;
    height: 300px;
}

.pageHook {
    margin-top: auto;
    display: flex;
    justify-content: center;
    background-color: grey;
}
.col-4 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.col-4 img {
    width: 120%;
    height: 150%;
    margin-left: 40px;
    margin-right: 40px;
   
}

.line {
    margin-top: 30px;
    width: 80%;
    height: 0.1%;
}

.pageScuba img {
    border-radius: 50px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon :hover {
    width: 50px;
    height: 50px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

.carousel-indicators {
    margin-top: 20px;
}

.cBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sScubaModels {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
}

.cScubaModels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn.btn-primary {
    margin-left: 180px;
}

.box {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    border-color: black;
    border-width: thick;
    margin-top: 50px;
    margin-bottom: 300px;
}

.sBox {

    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}