.Bar {
  color: white;
  background-color: rgb(15, 13, 13);
  opacity: 70%;
  display: flex;
  width: 100vw;
  height: 130px;
  margin-top: 30px;
}

a.nav-link:hover {
  text-decoration: none;
  color: white;
}

.navbar-expand .navbar-nav {
  align-items: center;
  color: white;
}

.navbar-expand .navbar-nav:hover {
  align-items: center;
  color:rgb(255, 255, 255);
}

img {
  width: 300px;
  height: 90px;
}

.inside {
  margin-left: 5%;
  margin-right: 5%;
}

a.nav-link {
  margin: 20px;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  text-decoration: double;

}

a {
  color: white;
  text-decoration: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 20px;
  margin: 20px;
  align-items: center;
}

a:hover{
  text-decoration: none;
  color:white;
  
}