.caroImage {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 65%;
    margin-top: 20px;
    margin-bottom: 120px;
    border-radius: 20px;
}

.carousel-control-prev {
    left: -200px;
    color: rgb(96, 93, 93);
}

.carousel-control-next {
    right: -200px;
    color: rgb(96, 93, 93);
}

.pageHook {
    display: flex;
    justify-content: center;
    background-color: rgb(96, 93, 93);
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.carousel img {
    border-radius: 30px;
}