.foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    background-color: rgb(15, 13, 13);
    justify-content: center;
    height: 100px;
}

.footElements {
    background-color: rgb(15, 13, 13);
    display: flex;
    width: 100%;
    height: 100px;
}

.footEleMed {
    background-color: bisque;
    justify-content: center;
    text-align: center;
}